{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">

    <div class="row">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Filter Customers</h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Customer List</h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Add Customer</h5>
      </div>
      <div class="ibox-content">
        <form action="" method="POST" role="form">
          {% csrf_token %}

            {{ form.as_p }}

          <input type='submit' value='ADD CUSTOMER'/>
        </form>
      </div>
    </div>
  </div>



</div>



{% endblock %}
