{% extends "quotation-pdf-base.html" %}<!DOCTYPE html>
{% block content %}
  <!-- HTML Content -->
<table cellpadding="5">
  <tr>
    <th width="25" align="left">
      #
    </th>
    <th align="left">
      Item Name
    </th>
    <th width="80" align="left">
      Price
    </th>
    <th width="125" align="left">
      UOM
    </th>
    <th width="70" align="right">
      Qty
    </th>
    <th width="100" align="right">
      Total
    </th>
  </tr>
  {% for item in quote_products %}
    <tr>
      <td>
        {{forloop.counter}}
      </td>
      <td>
        {{item.product_name}}
      </td>
      <td>
        $ {{item.product_price}}
      </td>
      <td>
        {{item.product_name.uom}}
      </td>
      <td align="right">
        {{item.product_quantity}}
      </td>
      <td align="right">
        $ {{item.product_line_total}}
      </td>
    </tr>

    {% if item.product_description %}
      <tr>
        <td>
        </td>
        <td colspan="2">
          {{item.product_description}}
        </td>

      </tr>
    {% endif %}


  {% endfor %}
</table>
{% endblock %}

{% block total %}
<table>
  <tr>
    <td align="right">
      Subtotal
    </td>
    <td align="right" width="100">
      $ {{quote_pk.quote_total}}
    </td>
  </tr>
  <tr>
    <td align="right">
      GST Included (7%)
    </td>
    <td align="right" width="100">
      $
    </td>
  </tr>
  <tr>
    <td align="right">
      Grand Total
    </td>
  </tr>
</table>
{% endblock total %}
