{% extends "base.html" %}
{% load render_table from django_tables2 %}


{% block content %}

<div class="row">
  <div class="col-md-8">

    <div class="row">
      <form method='GET'>
          {{ filter.form }} <br />
          <input type='submit' value='Filter' />
          |
          Displaying {{ filter.qs.count }} of {{ filter.queryset.count }} items.
          |
          <a href='{{ request.path }}' >Clear</a>
      </form>
    </div>

    <div class="row">
      {% if table %}
          {% render_table table %}
      {% endif %}
    </div>

  </div>

  <div class="col-md-4">
    <form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type='submit' value='ADD PRODUCT'/>
</form>
  </div>
</div>

{% endblock %}
