{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% render_table product_table %}
  </div>
  <div class="col-md-4">
    <form method="POST" class="post-form">{% csrf_token %}
          {{ product_form.as_p }}
          <button type="submit" class="save btn btn-default">Add Product</button>
    </form>
  </div>
</div>

<!--
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for product in product_data %}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.product_name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.uom}}</td>
    </tr>
  {% endfor %}
</table>
-->


{% endblock %}
